
<tr
	style="border: 1px solid rgba(123, 122, 140, 0.24); padding: 0; text-align: left; vertical-align: top;">
	<td
		style="-moz-box-sizing: border-box; -moz-hyphens: auto; -webkit-box-sizing: border-box; -webkit-hyphens: auto; margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #51505d; font-family: Poppins, sans-serif; font-size: 14px; font-weight: 400; hyphens: auto; line-height: 1.3; margin: 0; padding: 8px 5px; text-align: left; vertical-align: top; word-wrap: break-word;">
		{{licenceType}}</td>
	<td
		style="-moz-box-sizing: border-box; -moz-hyphens: auto; -webkit-box-sizing: border-box; -webkit-hyphens: auto; margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #51505d; font-family: Poppins, sans-serif; font-size: 14px; font-weight: 400; hyphens: auto; line-height: 1.3; margin: 0; padding: 8px 5px; text-align: left; vertical-align: top; word-wrap: break-word;">
		{{licenceName}}</td>
	<td
		style="-moz-box-sizing: border-box; -moz-hyphens: auto; -webkit-box-sizing: border-box; -webkit-hyphens: auto; margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #51505d; font-family: Poppins, sans-serif; font-size: 14px; font-weight: 400; hyphens: auto; line-height: 1.3; margin: 0; padding: 8px 5px; text-align: left; vertical-align: top; word-wrap: break-word;">
		{{cost}}</td>
	<td
		style="-moz-box-sizing: border-box; -moz-hyphens: auto; -webkit-box-sizing: border-box; -webkit-hyphens: auto; margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #51505d; font-family: Poppins, sans-serif; font-size: 14px; font-weight: 400; hyphens: auto; line-height: 1.3; margin: 0; padding: 8px 5px; text-align: left; vertical-align: top; word-wrap: break-word;">
		{{quantity}}</td>
	<td
		style="-moz-box-sizing: border-box; -moz-hyphens: auto; -webkit-box-sizing: border-box; -webkit-hyphens: auto; margin: 0; border-collapse: collapse !important; box-sizing: border-box; color: #51505d; font-family: Poppins, sans-serif; font-size: 14px; font-weight: 400; hyphens: auto; line-height: 1.3; margin: 0; padding: 8px 5px; text-align: left; vertical-align: top; word-wrap: break-word;">
		{{costTerm}}</td>
</tr>

